
**/apikey.json
**/*.key
**/*.pem

**/cookie*
**/cookie*/

credentials
**/credentials
**/credentials/
**/credentials/*

**/mail.txt
**/proxy.txt

*.tmp
*.png


**/*opnssl.php
bot/tes/
bot/bct/

lib/*/
!lib/python/
!lib/python/**