
**/apikey.json
**/*.key
**/*.pem

**/cookie*
**/cookie*/

credentials
**/credentials
**/credentials/
**/credentials/*

**/mail.txt
**/mail.json
**/email.txt
**/email.json
**/proxy.txt

*.tmp
*.png


**/*opnssl.php
bot/tes/
bot/set/
bot/fp/
bot/bct/

lib/*/
!lib/exec/
!lib/exec/**