/cre/
**/credentials
**/cookie*
**/cookies/

*.key
*.pem
*.tmp
*.png

apikey.json

bot/tes/
bot/set/
bot/bct/

bot/shibpay/

bott/
**/email.txt
**/email.json
**/mail.txt
**/mail.json

lib/*
!lib/exec/
!lib/exec/**